#pp {
	color: yellow;
}

body img {
	height: 300px;
	width:  300px;
	border-radius: 300px;

}

* {
	font-family: "Verdana", sans-serif;
	font-size: 20px;
}


h1{
	font-size: 70px;
}

#hh{
	text-transform: uppercase;
}

.listu{
	background: olive;

}

li[value]{
	border-width: 3px;
	border-color: blue;
	border-style: solid;
}

img + ol{
	list-style-type: upper-roman;
}

ol ~ p {
  text-align: center;
}

div > ol {
  letter-spacing: 15px;
}